*{
    font-family: "Ubunut", sans-serif;
}

.mediaBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    border: 10px;
    border-radius: 20px;
    border-color: rgb(86, 0, 125);
    
}

.scanBorder{
    border: "5px red solid";
    position: "absolute";
}

#camera-video {
    height: 256px;
    width: 200px;
}

header {
    text-align: center;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(86, 0, 125);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}